
div.pdfdisplay{
	position:absolute;
	margin-top: -630;
	margin-left: 200;
	font-size: 20px;
	font-family:cursive;
}
div.bg{
	position:absolute;
	margin-top:-50;
	margin-left:300;
	z-index:-1;
	
}

div.chselect{
	position:absolute;
	margin-top: 50;
	margin-left:510;
	
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 150px;

}

.blue    { background-color: 	#C5B358; }
.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; 
   width: 268px;
     color:white;
	 font-weight:bold;

	 

}
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}